@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
@font-face {
  font-family: "LemonMilkBold";
  src: url("Fonts/LemonMilkProBold.otf");
}
@font-face {
  font-family: "lemonMilkRegular";
  src: url("Fonts/LemonMilkProRegular.otf");
}
@font-face {
  font-family: "lemonMilkMedium";
  src: url("Fonts/LemonMilkProMedium.otf");
}
:root {
  --primary: #ff0e0e;
  --secondary: #ffffff;
  --tertiary: #000000;
  --background-secondary: rgba(82, 82, 82, 29%);
  --background-secondary-dark: rgba(82, 82, 82, 50%);
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.overlay {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 800px;
  z-index: -12;
}
body {
  background: var(--tertiary);
  color: var(--secondary);
  height: 100vh;
  overflow: hidden;
}

#inputname {
  background-color: var(--background-secondary);
  border: none;
  color: var(--secondary);
  width: 180px;
  height: 45px;
  padding: 5px;
  border-radius: 8px;
  font-family: lemonMilkMedium;
  font-size: 10px;
}
#inputname:focus {
  outline: none;
}
#inputname::placeholder {
  color: var(--secondary);
  text-align: center;
}

.column {
  display: flex;
  flex-direction: column;
  align-items: center;
}
header {
  color: var(--secondary);
  margin-top: 40px;
}
h1 {
  color: var(--secondary);
  font-family: lemonMilkBold;
  font-size: 30px;
}
h1 span {
  font-family: lemonMilkRegular;
  color: var(--primary);
}
#again {
  margin-top: 10px;
  background: var(--background-secondary);
  border: none;
  font-size: 12px;
  color: var(--primary);
  border-radius: 12px;
  padding: 12px 23px;
  cursor: pointer;
  font-family: "lemonMilkMedium";
}

#menu {
  gap: 6px;
  margin-top: 50px;
  display: flex;
  padding: 70px 40px;
  height: 320px;
  border-radius: 16px;
}
a {
  text-decoration: none;
  color: var(--secondary);
}
a:hover {
  color: var(--primary);
}

#gametable {
  display: flex;
  border-radius: 16px;
  gap: 20px;
}
#gametablebtns {
  border-radius: 9px;
  gap: 10px;
}
ul {
  display: flex;
  list-style: none;
  gap: 10px;
}
li {
  background-color: var(--background-secondary);
  backdrop-filter: blur(10px);
  width: 50px;
  height: 50px;
  border-radius: 9px;
  cursor: pointer;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
li:hover {
  background-color: var(--background-secondary-dark);
}

#scoresec {
  margin-top: 30px;
  display: flex;
  gap: 20px;
  background-color: var(--background-secondary);
  padding: 20px;
  border-radius: 8px;
  backdrop-filter: blur(10px);
}
#score,
#hiscore {
  color: #ffffff;
  font-family: "Press Start 2P", system-ui;
  font-size: 11px;
}

#play {
  margin-top: 10px;
  background: transparent;
  border: none;
}
#play:hover,
#again:hover {
  transform: scale(1.1);
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

#selection {
  font-size: 94px;
  font-family: LemonMilkBold;
  border-radius: 4px;
}
#message {
  font-family: "Press Start 2P", system-ui;
  font-size: 11px;
}

footer {
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 30px;
}
footer > p {
  font-family: lemonMilkMedium;
  font-size: 12px;
}
